<div id="post-{{id}}" class="responsive">
    <div class="gallery">
        <p class="card-title">{{title}}</p>
        <img class="card-image" src="{{thumbnail}}" alt="">
        <p class="desc">{{description}}</p>
        <a class="card-linker" href="/post/{{id}}">Details</a><br/><br/>
    </div>
</div>